<div class="page-wrapper">



<div class="home-page">

  <div class="promo-banner">
    <div class="promo-container">
      <h2>RAD ДО -50%</h2>
      <p>только с 18 по 20 апреля</p>
      <button class="brand-button">ПЕРЕЙТИ К БРЕНДУ →</button>
    </div>
  </div>
  
    <!-- Карточки брендов -->
    <div class="brand-cards">
      <div class="brand-card">Dior</div>
      <div class="brand-card">Chanel</div>
      <div class="brand-card">Tom Ford</div>
      <div class="brand-card">Sisley</div>
      <div class="brand-card">Patrick TA</div>
    </div>
  
    
    <!-- Футер с cookies -->
    <div class="cookies-footer">
      <p>Мы используем cookies. Используя сайт, вы соглашаетесь с обработкой данных с целью сбора аналитики. 
         Cookies можно отключить в любой момент в настройках вашего браузера.</p>
      <button class="accept-button">ХОРОШО</button>
    </div>
  </div>
  
</div>

  
 
  